$REM: 15;

$w-mobile: 375px;
$w-tablet: 768px;
$w-desktop: 1440px;

$colors: (
  yankees-blue: hsl(219, 43%, 16%),
  independence: hsl(218, 20%, 36%),
  alabaster: hsl(30, 33%, 93%),
  cultured: hsl(30, 29%, 97%),
  lavender-indigo: hsl(264, 100%, 69%),
  steel-pink: hsl(292, 76%, 54%),
  pastel-orange: hsl(31, 100%, 65%),
);
