@use "utilities/global" as *;

@include setup;

//TODO: make SVG accessible

body {
  font-family: $font-epilogue;
  background-color: color(cream-white);
  padding-top: rem(24px);
  @media (min-width: $w-tablet) {
    padding-top: rem(40px);
  }
}

strong {
  font-weight: 700;
}

a {
  &:any-link {
    color: color(dark-blue);
  }
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: rem(16px);
  margin-bottom: rem(56px);
  @media (min-width: $w-tablet) {
    margin-inline: rem(40px);
    margin-bottom: rem(80px);
  }
}

.logo {
  width: rem(81px);
}

.header__button {
  @include setFont(rem(14px), 24px, 700);
  letter-spacing: rem(-0.14px);
  background-color: color(cream-white);
  color: color(dark-blue);
  padding: em(12px, 14px) em(16px, 14px);
  border: 1px solid color(dark-blue);
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background-color: color(dark-blue);
    color: color(cream-white);
  }
  @media (min-width: $w-tablet) {
    @include setFont(rem(16px), 32px);
    letter-spacing: rem(-0.16px);
    padding: em(12px, 16px) em(24px, 16px);
  }
}

.section-top {
  margin-inline: rem(16px);
  margin-bottom: rem(237px);
  color: color(grey);
  display: grid;
  @media (min-width: $w-tablet) {
    margin-inline: rem(40px);
    grid-template: repeat(2, min-content) / 1fr 281px;
    grid-template-areas: "top-text hero-img" "stats stats";
    row-gap: rem(88px);
    margin-bottom: rem(273px);
  }
}

.top__text {
  grid-area: top-text;
}

.top__heading {
  @include setFont(rem(38px), 44px, 400);
  letter-spacing: rem(-0.527778px);
  color: color(dark-blue);
  position: relative;
  margin-bottom: em(32px, 38px);
  &::before {
    //TODO: adjust for smaller screen sizes
    content: "";
    background-image: url("../assets/pattern-curved-line-1.svg");
    background-size: cover;
    position: absolute;
    width: rem(151.47px);
    height: rem(19px);
    top: rem(-25.21px);
    left: rem(154px);
  }
  @media (min-width: $w-tablet) {
    @include setFont(rem(56px), 64px);
    letter-spacing: rem(-0.777778px);
    margin-top: rem(88px);
    margin-right: rem(-130px);
    margin-bottom: em(40px, 56px);
    &:before {
      width: rem(231.19px);
      height: rem(29px);
      top: rem(-45.32px);
      left: rem(223px);
    }
  }
}

.top__paragraph {
  @include setFont(rem(16px), 28px, 400);
  letter-spacing: rem(-0.0888889px);
  color: color(grey);
  margin-bottom: em(32px, 16px);
  @media (min-width: $w-tablet) {
    margin-bottom: em(40px, 16px);
  }
}

.top__button {
  @include setFont(rem(18px), 32px, 700);
  letter-spacing: rem(-0.18px);
  background-color: color(dark-blue);
  color: color(cream-white);
  border: 0;
  padding: em(15px, 18px) em(32px, 18px);
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: rem(55.68px);
  &:hover {
    background-image: $gradient-button;
  }
  @media (min-width: $w-tablet) {
    margin-bottom: 0;
  }
}

.hero-image {
  width: 100%;
  margin-bottom: rem(56px);
  grid-area: hero-img;
  @media (min-width: $w-tablet) {
    margin-bottom: 0;
  }
}

.top__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32px);
  grid-area: stats;
  @media (min-width: $w-tablet) {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    gap: rem(10px);
  }
}

.stats__number {
  @include setFont(rem(48px), 56px, 700);
  color: color(dark-blue);
  text-align: center;
  margin-bottom: em(1px, 48px);
}

.stats__caption {
  @include setFont(rem(16px), 26px, 400);
  letter-spacing: rem(2.5px);
  text-transform: uppercase;
  text-align: center;
}

.section-bottom {
  background-color: color(dark-blue);
  border-radius: 15px;
  position: relative;
  padding-top: rem(261px);
  padding-bottom: rem(64px);
  z-index: 2;
  @media (min-width: $w-tablet) {
    margin-inline: rem(40px);
  }
}

.bottom__image-wrapper {
  font-size: 0;
  position: absolute;
  top: rem(-181px);
  width: 100%;
  height: rem(410px);
  overflow: hidden;
  @media (min-width: $w-tablet) {
    top: rem(-190px);
  }
}

.image-jeremy {
  //TODO: adjust HTML for correct resolution
  width: rem(252px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.image-blur {
  position: absolute;
  z-index: 0;
  top: rem(85px);
  left: 55%;
  transform: translateX(-50%);
  width: rem(315px);
  @media (min-width: $w-tablet) {
    width: rem(390px);
    left: 50%;
  }
}

.image-curved-line {
  display: block;
  margin: 0 auto;
  width: rem(49.27px);
  height: rem(40px);
  margin-bottom: rem(37px);
}

.bottom__heading {
  @include setFont(rem(40px), 48px, 400);
  letter-spacing: rem(-0.416667px);
  color: color(cream-white);
  text-align: center;
  margin-bottom: em(40px, 40px);
}

.bottom__quote {
  @include setFont(rem(18px), 32px, 400);
  text-align: center;
  color: color(cream);
  margin-inline: rem(17px);
  margin-bottom: em(40px, 18px);
  @media (min-width: $w-tablet) {
    margin-inline: rem(58px);
  }
}

.caption__name {
  @include setFont(rem(18px), 32px, 700);
  letter-spacing: rem(-0.18px);
  color: color(cream-white);
  text-align: center;
  text-transform: uppercase;
}

.caption__position {
  @include setFont(rem(16px), 26px, 400);
  color: color(cream);
  text-align: center;
  text-transform: uppercase;
}

.footer {
  background-color: color(cream);
  padding-top: rem(190px);
  padding-bottom: rem(80px);
  position: relative;
  top: rem(-134px);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(33px);
  @media (min-width: $w-tablet) {
    padding-inline: rem(40px);
    flex-direction: row;
    justify-content: space-between;
    top: rem(-464px);
    padding-top: rem(536px);
    padding-bottom: rem(72px);
  }
}

.footer__copyright {
  @include setFont(rem(15px), 32px, 400);
  letter-spacing: rem(0.0833333px);
  color: color(grey);
}

.footer__social-media {
  width: rem(116px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
