:root {
  font-size: 0.9375em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(30deg, 29%, 97%);
  padding-top: max(1.6rem, 0.0407124682 * 100vw + 0.5821882952rem);
}
@media (min-width: 768px) {
  body {
    padding-top: min(3.3333333333rem, 0.0148809524 * 100vw + 1.9047619048rem);
  }
}

strong {
  font-weight: 700;
}

a:any-link {
  color: hsl(219deg, 43%, 16%);
}
a:hover, a:focus {
  opacity: 0.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: max(1.0666666667rem, 0.0610687023 * 100vw + -0.4600508906rem);
  margin-bottom: max(3.7333333333rem, 0.0610687023 * 100vw + 2.2066157761rem);
}
@media (min-width: 768px) {
  .header {
    margin-inline: min(11rem, 0.1860119048 * 100vw + -6.8571428571rem);
    margin-bottom: max(4.4666666667rem, -0.0193452381 * 100vw + 6.3238095238rem);
  }
}

.logo {
  width: 5.4rem;
}

.header__button {
  font-size: clamp(0.9333333333rem, 0.0050890585 * 100vw + 0.8061068702rem, 1.0666666667rem);
  line-height: clamp(24px, 0.0203562341 * 100vw + 16.3664122137px, 32px);
  font-weight: 700;
  letter-spacing: clamp(-0.16px, -0.0000508906 * 100vw + -0.1209160305px, -0.14px);
  padding-block: 0.8rem;
  padding-inline: clamp(1.0666666667rem, 0.0203562341 * 100vw + 0.5577608142rem, 1.6rem);
  background-color: hsl(30deg, 29%, 97%);
  color: hsl(219deg, 43%, 16%);
  border: 1px solid hsl(219deg, 43%, 16%);
  border-radius: 6px;
  cursor: pointer;
}
.header__button:hover {
  background-color: hsl(219deg, 43%, 16%);
  color: hsl(30deg, 29%, 97%);
}

.section-top {
  margin-inline: max(1.0666666667rem, 0.0610687023 * 100vw + -0.4600508906rem);
  margin-bottom: 15.8rem;
  color: hsl(218deg, 20%, 36%);
}
@media (min-width: 650px) {
  .section-top {
    display: grid;
    grid-template: repeat(2, min-content)/1fr min-content;
    grid-template-areas: "top-text hero-img" "stats stats";
    row-gap: 5.8666666667rem;
    margin-bottom: 18.2rem;
  }
}
@media (min-width: 768px) {
  .section-top {
    margin-inline: min(11rem, 0.1860119048 * 100vw + -6.8571428571rem);
  }
}
@media (min-width: 1200px) {
  .section-top {
    grid-template: none/1fr repeat(2, min-content);
    gap: 0;
    grid-template-areas: "top-text hero-img stats";
  }
}
@media (min-width: 1440px) {
  .section-top {
    margin-bottom: 13.2666666667rem;
  }
}

.top__text {
  grid-area: top-text;
}

.top__heading {
  font-size: max(2.5333333333rem, 0.0458015267 * 100vw + 1.3882951654rem);
  line-height: max(44px, 0.0508905852 * 100vw + 24.9160305344px);
  font-weight: 400;
  letter-spacing: min(-0.527778px, -0.0006361323 * 100vw + -0.2892283817px);
  color: hsl(219deg, 43%, 16%);
  position: relative;
  margin-bottom: 2.1333333333rem;
}
.top__heading::before {
  content: "";
  background-image: url("../assets/pattern-curved-line-1.svg");
  background-size: cover;
  position: absolute;
  width: max(10.098rem, 0.2028498728 * 100vw + 5.0267531807rem);
  height: max(1.2666666667rem, 0.0254452926 * 100vw + 0.6305343511rem);
  top: min(-1.6806666667rem, -0.0511704835 * 100vw + -0.4014045802rem);
  left: max(10.2666666667rem, 0.1709090909 * 100vw + 5.9939393939rem);
}
@media (max-width: 340px) {
  .top__heading::before {
    display: none;
  }
}
@media (min-width: 650px) {
  .top__heading {
    margin-right: max(-12.3333333333rem, 0.4661016949 * 100vw + -32.5310734463rem);
    margin-bottom: 2.6666666667rem;
    margin-top: max(5.8666666667rem, 0.0223214286 * 100vw + 4.7238095238rem);
  }
  .top__heading:before {
    left: max(13.5333333333rem, 0.1694915254 * 100vw + 6.188700565rem);
  }
}
@media (min-width: 768px) {
  .top__heading {
    font-size: min(4.8rem, 0.0238095238 * 100vw + 2.5142857143rem);
    line-height: min(78px, 0.0208333333 * 100vw + 48px);
    letter-spacing: max(-1px, -0.0003306875 * 100vw + -0.52381px);
    margin-right: min(-8.6666666667rem, -0.2314814815 * 100vw + 3.1851851852rem);
  }
  .top__heading::before {
    width: min(19.1333333333rem, 0.0830505952 * 100vw + 11.1604761905rem);
    height: min(2.4rem, 0.0104166667 * 100vw + 1.4rem);
    top: max(-3.8213333333rem, -0.0178571429 * 100vw + -2.107047619rem);
    left: min(19.2666666667rem, 0.0982142857 * 100vw + 9.8380952381rem);
  }
}
@media (min-width: 1200px) {
  .top__heading {
    margin-right: min(-14.6666666667rem, 0.0416666667 * 100vw + -18.6666666667rem);
  }
}

.top__paragraph {
  font-size: 1.0666666667rem;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: -0.0059259267rem;
  color: hsl(218deg, 20%, 36%);
  margin-bottom: 2em;
}
@media (min-width: 650px) {
  .top__paragraph {
    font-size: clamp(1.0666666667rem, 0.0029761905 * 100vw + 0.9142857143rem, 1.2rem);
    line-height: clamp(28px, 0.005952381 * 100vw + 23.4285714286px, 32px);
    letter-spacing: clamp(-0.0888889px, 0.0002810847 * 100vw + -0.3047619286px, 0.1px);
    margin-bottom: min(3.4666666667rem, 0.0178571429 * 100vw + 1.7523809524rem);
    margin-right: 3.3333333333rem;
  }
}
@media (min-width: 1200px) {
  .top__paragraph {
    margin-right: 6.8888888889em;
  }
}

.top__button {
  font-size: 1.2rem;
  line-height: 1.7777777778;
  font-weight: 700;
  letter-spacing: -0.012rem;
  background-color: hsl(219deg, 43%, 16%);
  color: hsl(30deg, 29%, 97%);
  border: 0;
  padding: 0.8333333333em 1.7777777778em;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 3.712rem;
}
.top__button:hover {
  background-image: linear-gradient(135deg, hsl(264deg, 100%, 69%) 0%, hsl(292deg, 76%, 54%) 49.21%, hsl(31deg, 100%, 65%) 100%);
}
@media (min-width: 650px) {
  .top__button {
    margin-bottom: 0;
  }
}

.hero-image {
  width: 100%;
  margin-bottom: 3.7333333333rem;
  grid-area: hero-img;
}
@media (min-width: 650px) {
  .hero-image {
    margin-bottom: 0;
    width: min(23.3333333333rem, 0.1026785714 * 100vw + 13.4761904762rem);
  }
}

.top__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.1333333333rem;
  grid-area: stats;
}
@media (min-width: 650px) {
  .top__stats {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.6666666667rem;
  }
}
@media (min-width: 1200px) {
  .top__stats {
    flex-direction: column;
    align-items: flex-start;
    gap: 4.2rem;
    justify-content: flex-start;
    margin-top: 7.0666666667rem;
    margin-left: min(6.4rem, 0.1916666667 * 100vw + -12rem);
    width: 12.6666666667rem;
  }
}

.stats__number {
  font-size: 3.2rem;
  line-height: 1.1666666667;
  font-weight: 700;
  color: hsl(219deg, 43%, 16%);
  text-align: center;
  margin-bottom: 0.0208333333em;
}
@media (min-width: 1200px) {
  .stats__number {
    text-align: left;
  }
}

.stats__caption {
  font-size: 1.0666666667rem;
  line-height: 1.625;
  font-weight: 400;
  letter-spacing: 0.1666666667rem;
  text-transform: uppercase;
  text-align: center;
}
@media (min-width: 1200px) {
  .stats__caption {
    text-align: left;
  }
}

.section-bottom {
  background-color: hsl(219deg, 43%, 16%);
  border-radius: 15px;
  position: relative;
  padding-top: 17.4rem;
  padding-bottom: 4.2666666667rem;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4666666667rem;
  margin-inline: max(0rem, 0.1017811705 * 100vw + -2.5445292621rem);
}
@media (min-width: 768px) {
  .section-bottom {
    margin-inline: max(2.6666666667rem, 0.1860119048 * 100vw + -6.8571428571rem);
  }
}
@media (min-width: 1440px) {
  .section-bottom {
    padding-block: 5.8666666667rem;
    padding-left: 34.48rem;
    padding-right: 8.3333333333rem;
    flex-direction: row;
    align-items: flex-start;
    gap: 3.5166666667rem;
  }
}

.bottom__image-wrapper {
  font-size: 0;
  position: absolute;
  top: -12.0666666667rem;
  width: 100%;
  height: 27.3333333333rem;
  overflow: hidden;
}
@media (min-width: 650px) {
  .bottom__image-wrapper {
    top: -12.6666666667rem;
  }
}
@media (min-width: 1440px) {
  .bottom__image-wrapper {
    inset: 0;
    height: auto;
    overflow: visible;
  }
}

.image-jeremy {
  width: 16.8rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}
@media (min-width: 1440px) {
  .image-jeremy {
    width: 24.3333333333rem;
    bottom: 0;
    left: 7.4666666667rem;
    transform: none;
  }
}

.image-blur {
  position: absolute;
  z-index: 0;
  top: 5.6666666667rem;
  left: 55%;
  transform: translateX(-50%);
  width: 21rem;
}
@media (min-width: 650px) {
  .image-blur {
    width: 26rem;
    left: 50%;
  }
}
@media (min-width: 1440px) {
  .image-blur {
    width: 37.6666666667rem;
    left: 19rem;
    top: 4rem;
  }
}

.image-curved-line {
  width: 3.2846666667rem;
  height: 2.6666666667rem;
}
@media (min-width: 1440px) {
  .image-curved-line {
    width: 4.27rem;
    height: 3.4666666667rem;
    margin-top: 4.8766666667rem;
  }
}

.bottom__heading {
  font-size: 2.6666666667rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.0277778rem;
  color: hsl(30deg, 29%, 97%);
  text-align: center;
  margin-bottom: 2.6666666667rem;
}
@media (min-width: 768px) {
  .bottom__heading {
    font-size: min(3.0666666667rem, 0.0089285714 * 100vw + 2.2095238095rem);
    line-height: min(58px, 0.0148809524 * 100vw + 36.5714285714px);
    letter-spacing: max(-0.5px, -0.0001240074 * 100vw + -0.3214292857px);
  }
}
@media (min-width: 1440px) {
  .bottom__heading {
    text-align: left;
  }
}

.bottom__quote {
  font-size: 1.2rem;
  line-height: 1.7777777778;
  font-weight: 400;
  text-align: center;
  color: hsl(30deg, 33%, 93%);
  margin-inline: min(3.8666666667rem, 0.1043256997 * 100vw + -1.4748091603rem);
  margin-bottom: 2.6666666667rem;
}
@media (min-width: 768px) {
  .bottom__quote {
    font-size: min(1.3333333333rem, 0.0029761905 * 100vw + 1.0476190476rem);
    line-height: min(35px, 0.0044642857 * 100vw + 28.5714285714px);
    letter-spacing: min(0.1px, 0.000014881 * 100vw + 0.0785714286px);
    margin-inline: calc(0.099702381 * 100vw + -1.2380952381rem);
  }
}
@media (min-width: 1440px) {
  .bottom__quote {
    text-align: left;
    margin-inline: 0;
  }
}

.caption__name {
  font-size: 1.2rem;
  line-height: 1.7777777778;
  font-weight: 700;
  letter-spacing: -0.012rem;
  color: hsl(30deg, 29%, 97%);
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .caption__name {
    text-align: left;
  }
}

.caption__position {
  font-size: 1.0666666667rem;
  line-height: 1.625;
  font-weight: 400;
  letter-spacing: 0.1666666667rem;
  color: hsl(30deg, 33%, 93%);
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 1440px) {
  .caption__position {
    text-align: left;
  }
}

.footer {
  background-color: hsl(30deg, 33%, 93%);
  padding-top: max(12.6666666667rem, 0.8804071247 * 100vw + -9.3435114504rem);
  padding-bottom: 5.3333333333rem;
  position: relative;
  top: min(-8.9333333333rem, -0.8396946565 * 100vw + 12.0590330789rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}
@media (min-width: 650px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: calc(0.1017811705 * 100vw + -2.5445292621rem);
  }
}
@media (min-width: 768px) {
  .footer {
    padding-inline: max(2.6666666667rem, 0.1860119048 * 100vw + -6.8571428571rem);
    padding-top: min(35.7333333333rem, -0.2619047619 * 100vw + 49.1428571429rem);
    padding-bottom: 4.8rem;
    top: max(-30.9333333333rem, 0.2961309524 * 100vw + -46.0952380952rem);
  }
}

.footer__copyright {
  font-size: 1rem;
  line-height: 2.1333333333;
  font-weight: 400;
  letter-spacing: 0.0055555533rem;
  color: hsl(218deg, 20%, 36%);
}

.footer__social-media {
  width: 7.7333333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
