@use "utilities/global" as *;

@include setup;

body {
  font-family: $font-epilogue;
  background-color: color(cream-white);
  padding-top: lerp_max($w-mobile, rem(24px), $w-tablet, rem(40px));
  @media (min-width: $w-tablet) {
    padding-top: lerp_min($w-tablet, rem(40px), $w-desktop, rem(50px));
  }
}

strong {
  font-weight: 700;
}

a {
  &:any-link {
    color: color(dark-blue);
  }
  &:hover,
  &:focus {
    opacity: 0.5;
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: lerp_max($w-mobile, rem(16px), $w-tablet, rem(40px));
  margin-bottom: lerp_max($w-mobile, rem(56px), $w-tablet, rem(80px));
  @media (min-width: $w-tablet) {
    margin-inline: lerp_min($w-tablet, rem(40px), $w-desktop, rem(165px));
    margin-bottom: lerp_max($w-tablet, rem(80px), $w-desktop, rem(67px));
  }
}

.logo {
  width: rem(81px);
}

.header__button {
  font-size: lerp_clamp($w-mobile, rem(14px), $w-tablet, rem(16px));
  line-height: lerp_clamp($w-mobile, 24px, $w-tablet, 32px);
  font-weight: 700;
  letter-spacing: lerp_clamp($w-mobile, -0.14px, $w-tablet, -0.16px);
  padding-block: rem(12px);
  padding-inline: lerp_clamp($w-mobile, rem(16px), $w-tablet, rem(24px));
  background-color: color(cream-white);
  color: color(dark-blue);
  border: 1px solid color(dark-blue);
  border-radius: 6px;
  cursor: pointer;
  &:hover {
    background-color: color(dark-blue);
    color: color(cream-white);
  }
}

.section-top {
  margin-inline: lerp_max($w-mobile, rem(16px), $w-tablet, rem(40px));
  margin-bottom: rem(237px);
  color: color(grey);
  @media (min-width: 650px) {
    display: grid;
    grid-template: repeat(2, min-content) / 1fr min-content;
    grid-template-areas: "top-text hero-img" "stats stats";
    row-gap: rem(88px);
    margin-bottom: rem(273px);
  }
  @media (min-width: $w-tablet) {
    margin-inline: lerp_min($w-tablet, rem(40px), $w-desktop, rem(165px));
  }
  @media (min-width: 1200px) {
    grid-template: none / 1fr repeat(2, min-content);
    gap: 0;
    grid-template-areas: "top-text hero-img stats";
  }
  @media (min-width: $w-desktop) {
    margin-bottom: rem(199px);
  }
}

.top__text {
  grid-area: top-text;
}

.top__heading {
  font-size: lerp_max($w-mobile, rem(38px), $w-tablet, rem(56px));
  line-height: lerp_max($w-mobile, 44px, $w-tablet, 64px);
  font-weight: 400;
  letter-spacing: lerp_min($w-mobile, -0.527778px, $w-tablet, -0.777778px);
  color: color(dark-blue);
  position: relative;
  margin-bottom: rem(32px);
  &::before {
    @media (max-width: 340px) {
      display: none;
    }

    content: "";
    background-image: url("../assets/pattern-curved-line-1.svg");
    background-size: cover;
    position: absolute;
    width: lerp_max($w-mobile, rem(151.47px), $w-tablet, rem(231.19px));
    height: lerp_max($w-mobile, rem(19px), $w-tablet, rem(29px));
    top: lerp_min($w-mobile, rem(-25.21px), $w-tablet, rem(-45.32px));
    left: lerp_max($w-mobile, rem(154px), 650px, rem(201px));
  }
  @media (min-width: 650px) {
    margin-right: lerp_max(650px, rem(-185px), $w-tablet, rem(-130px));
    margin-bottom: rem(40px);
    margin-top: lerp_max($w-tablet, rem(88px), $w-desktop, rem(103px));
    &:before {
      left: lerp_max(650px, rem(203px), $w-tablet, rem(223px));
    }
  }
  @media (min-width: $w-tablet) {
    font-size: lerp_min($w-tablet, rem(56px), $w-desktop, rem(72px));
    line-height: lerp_min($w-tablet, 64px, $w-desktop, 78px);
    letter-spacing: lerp_max($w-tablet, -0.777778px, $w-desktop, -1px);
    margin-right: lerp_min($w-tablet, rem(-130px), 1200px, rem(-230px));
    &::before {
      width: lerp_min($w-tablet, rem(231.19px), $w-desktop, rem(287px));
      height: lerp_min($w-tablet, rem(29px), $w-desktop, rem(36px));
      top: lerp_max($w-tablet, rem(-45.32px), $w-desktop, rem(-57.32px));
      left: lerp_min($w-tablet, rem(223px), $w-desktop, rem(289px));
    }
  }
  @media (min-width: 1200px) {
    margin-right: lerp_min(1200px, rem(-230px), $w-desktop, rem(-220px));
  }
}

.top__paragraph {
  @include setFont(rem(16px), 28px, 400);
  letter-spacing: rem(-0.0888889px);
  color: color(grey);
  margin-bottom: em(32px, 16px);
  @media (min-width: 650px) {
    font-size: lerp_clamp($w-tablet, rem(16px), $w-desktop, rem(18px));
    line-height: lerp_clamp($w-tablet, 28px, $w-desktop, 32px);
    letter-spacing: lerp_clamp($w-tablet, -0.0888889px, $w-desktop, 0.1px);
    margin-bottom: lerp_min($w-tablet, rem(40px), $w-desktop, rem(52px));
    margin-right: rem(50px);
  }
  @media (min-width: 1200px) {
    margin-right: em(124px, 18px);
  }
}

.top__button {
  @include setFont(rem(18px), 32px, 700);
  letter-spacing: rem(-0.18px);
  background-color: color(dark-blue);
  color: color(cream-white);
  border: 0;
  padding: em(15px, 18px) em(32px, 18px);
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: rem(55.68px);
  &:hover {
    background-image: $gradient-button;
  }
  @media (min-width: 650px) {
    margin-bottom: 0;
  }
}

.hero-image {
  width: 100%;
  margin-bottom: rem(56px);
  grid-area: hero-img;
  @media (min-width: 650px) {
    margin-bottom: 0;
    width: lerp_min($w-tablet, rem(281px), $w-desktop, rem(350px));
  }
}

.top__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(32px);
  grid-area: stats;
  @media (min-width: 650px) {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    gap: rem(10px);
  }
  @media (min-width: 1200px) {
    flex-direction: column;
    align-items: flex-start;
    gap: rem(63px);
    justify-content: flex-start;
    margin-top: rem(106px);
    margin-left: lerp_min(1200px, rem(50px), $w-desktop, rem(96px));
    width: rem(190px);
  }
}

.stats__number {
  @include setFont(rem(48px), 56px, 700);
  color: color(dark-blue);
  text-align: center;
  margin-bottom: em(1px, 48px);
  @media (min-width: 1200px) {
    text-align: left;
  }
}

.stats__caption {
  @include setFont(rem(16px), 26px, 400);
  letter-spacing: rem(2.5px);
  text-transform: uppercase;
  text-align: center;
  @media (min-width: 1200px) {
    text-align: left;
  }
}

.section-bottom {
  background-color: color(dark-blue);
  border-radius: 15px;
  position: relative;
  padding-top: rem(261px);
  padding-bottom: rem(64px);
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(37px);
  margin-inline: lerp_max($w-mobile, rem(0px), $w-tablet, rem(40px));
  @media (min-width: $w-tablet) {
    margin-inline: lerp_max($w-tablet, rem(40px), $w-desktop, rem(165px));
  }
  @media (min-width: $w-desktop) {
    padding-block: rem(88px);
    padding-left: rem(517.2px);
    padding-right: rem(125px);
    flex-direction: row;
    align-items: flex-start;
    gap: rem(52.75px);
  }
}

.bottom__image-wrapper {
  font-size: 0;
  position: absolute;
  top: rem(-181px);
  width: 100%;
  height: rem(410px);
  overflow: hidden;
  @media (min-width: 650px) {
    top: rem(-190px);
  }
  @media (min-width: $w-desktop) {
    inset: 0;
    height: auto;
    overflow: visible;
  }
}

.image-jeremy {
  width: rem(252px);
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  @media (min-width: $w-desktop) {
    width: rem(365px);
    bottom: 0;
    left: rem(112px);
    transform: none;
  }
}

.image-blur {
  position: absolute;
  z-index: 0;
  top: rem(85px);
  left: 55%;
  transform: translateX(-50%);
  width: rem(315px);
  @media (min-width: 650px) {
    width: rem(390px);
    left: 50%;
  }
  @media (min-width: $w-desktop) {
    width: rem(565px);
    left: rem(285px);
    top: rem(60px);
  }
}

.image-curved-line {
  width: rem(49.27px);
  height: rem(40px);
  @media (min-width: $w-desktop) {
    width: rem(64.05px);
    height: rem(52px);
    margin-top: rem(73.15px);
  }
}

.bottom__heading {
  @include setFont(rem(40px), 48px, 400);
  letter-spacing: rem(-0.416667px);
  color: color(cream-white);
  text-align: center;
  margin-bottom: rem(40px);
  @media (min-width: $w-tablet) {
    font-size: lerp_min($w-tablet, rem(40px), $w-desktop, rem(46px));
    line-height: lerp_min($w-tablet, 48px, $w-desktop, 58px);
    letter-spacing: lerp_max($w-tablet, -0.416667px, $w-desktop, -0.5px);
  }
  @media (min-width: $w-desktop) {
    text-align: left;
  }
}

.bottom__quote {
  @include setFont(rem(18px), 32px, 400);
  text-align: center;
  color: color(cream);
  margin-inline: lerp_min($w-mobile, rem(17px), $w-tablet, rem(58px));
  margin-bottom: rem(40px);
  @media (min-width: $w-tablet) {
    font-size: lerp_min($w-tablet, rem(18px), $w-desktop, rem(20px));
    line-height: lerp_min($w-tablet, 32px, $w-desktop, 35px);
    letter-spacing: lerp_min($w-tablet, 0.09px, $w-desktop, 0.1px);
    margin-inline: lerp($w-tablet, rem(58px), $w-desktop, rem(125px));
  }
  @media (min-width: $w-desktop) {
    text-align: left;
    margin-inline: 0;
  }
}

.caption__name {
  @include setFont(rem(18px), 32px, 700);
  letter-spacing: rem(-0.18px);
  color: color(cream-white);
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $w-desktop) {
    text-align: left;
  }
}

.caption__position {
  @include setFont(rem(16px), 26px, 400);
  letter-spacing: rem(2.5px);
  color: color(cream);
  text-align: center;
  text-transform: uppercase;
  @media (min-width: $w-desktop) {
    text-align: left;
  }
}

.footer {
  background-color: color(cream);
  padding-top: lerp_max($w-mobile, rem(190px), $w-tablet, rem(536px));
  padding-bottom: rem(80px);
  position: relative;
  top: lerp_min($w-mobile, rem(-134px), $w-tablet, rem(-464px));
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(33px);
  @media (min-width: 650px) {
    flex-direction: row;
    justify-content: space-between;
    padding-inline: lerp($w-mobile, rem(0px), $w-tablet, rem(40px));
  }
  @media (min-width: $w-tablet) {
    padding-inline: lerp_max($w-tablet, rem(40px), $w-desktop, rem(165px));
    padding-top: lerp_min($w-tablet, rem(536px), $w-desktop, rem(360px));
    padding-bottom: rem(72px);
    top: lerp_max($w-tablet, rem(-464px), $w-desktop, rem(-265px));
  }
}

.footer__copyright {
  @include setFont(rem(15px), 32px, 400);
  letter-spacing: rem(0.0833333px);
  color: color(grey);
}

.footer__social-media {
  width: rem(116px);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
