:root {
  font-size: 0.9375em;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Epilogue", sans-serif;
  background-color: hsl(30deg, 29%, 97%);
  padding-top: 1.6rem;
}
@media (min-width: 768px) {
  body {
    padding-top: 2.6666666667rem;
  }
}

strong {
  font-weight: 700;
}

a:any-link {
  color: hsl(219deg, 43%, 16%);
}
a:hover, a:focus {
  opacity: 0.5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-inline: 1.0666666667rem;
  margin-bottom: 3.7333333333rem;
}
@media (min-width: 768px) {
  .header {
    margin-inline: 2.6666666667rem;
    margin-bottom: 5.3333333333rem;
  }
}

.logo {
  width: 5.4rem;
}

.header__button {
  font-size: 0.9333333333rem;
  line-height: 1.7142857143;
  font-weight: 700;
  letter-spacing: -0.0093333333rem;
  background-color: hsl(30deg, 29%, 97%);
  color: hsl(219deg, 43%, 16%);
  padding: 0.8571428571em 1.1428571429em;
  border: 1px solid hsl(219deg, 43%, 16%);
  border-radius: 6px;
  cursor: pointer;
}
.header__button:hover {
  background-color: hsl(219deg, 43%, 16%);
  color: hsl(30deg, 29%, 97%);
}
@media (min-width: 768px) {
  .header__button {
    font-size: 1.0666666667rem;
    line-height: 2;
    letter-spacing: -0.0106666667rem;
    padding: 0.75em 1.5em;
  }
}

.section-top {
  margin-inline: 1.0666666667rem;
  margin-bottom: 15.8rem;
  color: hsl(218deg, 20%, 36%);
  display: grid;
}
@media (min-width: 768px) {
  .section-top {
    margin-inline: 2.6666666667rem;
    grid-template: repeat(2, min-content)/1fr 281px;
    grid-template-areas: "top-text hero-img" "stats stats";
    row-gap: 5.8666666667rem;
    margin-bottom: 18.2rem;
  }
}

.top__text {
  grid-area: top-text;
}

.top__heading {
  font-size: 2.5333333333rem;
  line-height: 1.1578947368;
  font-weight: 400;
  letter-spacing: -0.0351852rem;
  color: hsl(219deg, 43%, 16%);
  position: relative;
  margin-bottom: 0.8421052632em;
}
.top__heading::before {
  content: "";
  background-image: url("../assets/pattern-curved-line-1.svg");
  background-size: cover;
  position: absolute;
  width: 10.098rem;
  height: 1.2666666667rem;
  top: -1.6806666667rem;
  left: 10.2666666667rem;
}
@media (min-width: 768px) {
  .top__heading {
    font-size: 3.7333333333rem;
    line-height: 1.1428571429;
    letter-spacing: -0.0518518667rem;
    margin-top: 5.8666666667rem;
    margin-right: -8.6666666667rem;
    margin-bottom: 0.7142857143em;
  }
  .top__heading:before {
    width: 15.4126666667rem;
    height: 1.9333333333rem;
    top: -3.0213333333rem;
    left: 14.8666666667rem;
  }
}

.top__paragraph {
  font-size: 1.0666666667rem;
  line-height: 1.75;
  font-weight: 400;
  letter-spacing: -0.0059259267rem;
  color: hsl(218deg, 20%, 36%);
  margin-bottom: 2em;
}
@media (min-width: 768px) {
  .top__paragraph {
    margin-bottom: 2.5em;
  }
}

.top__button {
  font-size: 1.2rem;
  line-height: 1.7777777778;
  font-weight: 700;
  letter-spacing: -0.012rem;
  background-color: hsl(219deg, 43%, 16%);
  color: hsl(30deg, 29%, 97%);
  border: 0;
  padding: 0.8333333333em 1.7777777778em;
  border-radius: 6px;
  cursor: pointer;
  margin-bottom: 3.712rem;
}
.top__button:hover {
  background-image: linear-gradient(135deg, hsl(264deg, 100%, 69%) 0%, hsl(292deg, 76%, 54%) 49.21%, hsl(31deg, 100%, 65%) 100%);
}
@media (min-width: 768px) {
  .top__button {
    margin-bottom: 0;
  }
}

.hero-image {
  width: 100%;
  margin-bottom: 3.7333333333rem;
  grid-area: hero-img;
}
@media (min-width: 768px) {
  .hero-image {
    margin-bottom: 0;
  }
}

.top__stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.1333333333rem;
  grid-area: stats;
}
@media (min-width: 768px) {
  .top__stats {
    margin-bottom: 0;
    flex-direction: row;
    justify-content: space-around;
    gap: 0.6666666667rem;
  }
}

.stats__number {
  font-size: 3.2rem;
  line-height: 1.1666666667;
  font-weight: 700;
  color: hsl(219deg, 43%, 16%);
  text-align: center;
  margin-bottom: 0.0208333333em;
}

.stats__caption {
  font-size: 1.0666666667rem;
  line-height: 1.625;
  font-weight: 400;
  letter-spacing: 0.1666666667rem;
  text-transform: uppercase;
  text-align: center;
}

.section-bottom {
  background-color: hsl(219deg, 43%, 16%);
  border-radius: 15px;
  position: relative;
  padding-top: 17.4rem;
  padding-bottom: 4.2666666667rem;
  z-index: 2;
}
@media (min-width: 768px) {
  .section-bottom {
    margin-inline: 2.6666666667rem;
  }
}

.bottom__image-wrapper {
  font-size: 0;
  position: absolute;
  top: -12.0666666667rem;
  width: 100%;
  height: 27.3333333333rem;
  overflow: hidden;
}
@media (min-width: 768px) {
  .bottom__image-wrapper {
    top: -12.6666666667rem;
  }
}

.image-jeremy {
  width: 16.8rem;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.image-blur {
  position: absolute;
  z-index: 0;
  top: 5.6666666667rem;
  left: 55%;
  transform: translateX(-50%);
  width: 21rem;
}
@media (min-width: 768px) {
  .image-blur {
    width: 26rem;
    left: 50%;
  }
}

.image-curved-line {
  display: block;
  margin: 0 auto;
  width: 3.2846666667rem;
  height: 2.6666666667rem;
  margin-bottom: 2.4666666667rem;
}

.bottom__heading {
  font-size: 2.6666666667rem;
  line-height: 1.2;
  font-weight: 400;
  letter-spacing: -0.0277778rem;
  color: hsl(30deg, 29%, 97%);
  text-align: center;
  margin-bottom: 1em;
}

.bottom__quote {
  font-size: 1.2rem;
  line-height: 1.7777777778;
  font-weight: 400;
  text-align: center;
  color: hsl(30deg, 33%, 93%);
  margin-inline: 1.1333333333rem;
  margin-bottom: 2.2222222222em;
}
@media (min-width: 768px) {
  .bottom__quote {
    margin-inline: 3.8666666667rem;
  }
}

.caption__name {
  font-size: 1.2rem;
  line-height: 1.7777777778;
  font-weight: 700;
  letter-spacing: -0.012rem;
  color: hsl(30deg, 29%, 97%);
  text-align: center;
  text-transform: uppercase;
}

.caption__position {
  font-size: 1.0666666667rem;
  line-height: 1.625;
  font-weight: 400;
  color: hsl(30deg, 33%, 93%);
  text-align: center;
  text-transform: uppercase;
}

.footer {
  background-color: hsl(30deg, 33%, 93%);
  padding-top: 12.6666666667rem;
  padding-bottom: 5.3333333333rem;
  position: relative;
  top: -8.9333333333rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.2rem;
}
@media (min-width: 768px) {
  .footer {
    padding-inline: 2.6666666667rem;
    flex-direction: row;
    justify-content: space-between;
    top: -30.9333333333rem;
    padding-top: 35.7333333333rem;
    padding-bottom: 4.8rem;
  }
}

.footer__copyright {
  font-size: 1rem;
  line-height: 2.1333333333;
  font-weight: 400;
  letter-spacing: 0.0055555533rem;
  color: hsl(218deg, 20%, 36%);
}

.footer__social-media {
  width: 7.7333333333rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*# sourceMappingURL=style.css.map */
